<h1>If conditions, for loops, while loops, and functions using Python</h1>

<h1>If condition related questions</h1>

In [ ]:
# grade check using if-else
t_marks = float(input("enter total marks"))
marks = float(input("enter obtained marks "))
p = (marks*100)/t_marks
if t_marks < marks:
    print("impossible")
elif p<=50:
    print("you got fail")
elif p<=60:
    print("you got second-division")
elif p<=75:
    print("you got 1st division")
elif p>75:
    print("you got high first-division")
else:
    print("invalid input")

<h1>Even Odd Checker</h1>

In [ ]:
x = int(input("enter number to check even odd"))
if x%2 == 0:
    print(f"{x} is even number")
else:
    print(f"{x} is odd number")

<h1>Discount Calculator</h1>

In [ ]:
t_amount = float(input("enter toatl amount of purchasing items"))
if t_amount <=1000:
    print(f" on {t_amount} RS there is no discount")
elif t_amount<=2000:
    dp = t_amount*(10/100)
    print(f"on {t_amount}RS you got 10 percent discount and discount price is {dp}")
    p = t_amount-dp
    print(f"payable amount is {p}")
elif t_amount<=5000:
    dp = t_amount*(15/100)
    print(f"on {t_amount} RS you got 10 percent discount and discount price is {dp}")
    p = t_amount-dp
    print(f"payable amount is {p}")
elif t_amount>5000:
    dp = t_amount*(20/100)
    print(f"on {t_amount} RS you got 10 percent discount and discount price is {dp}")
    p = t_amount-dp
    print(f"payable amount is {p}")
else:
    print("invalid input")

<h1>Reverse a String â€“ Take a string input and reverse it using a loop.</h1>

In [ ]:
#with for loop
x=int(input("how many names you want to write?"))
for i in range(x):
    string = input("enter name")
    n_string = string[::-1]
    print(n_string)

In [ ]:
#with while loop
x = int(input("enter number how many name you want to reverse"))
count=0
while count<x:
    string = input("enter name")
    r_string = string[::-1]
    print(r_string)
    count +=1

In [ ]:
for i in range(1,11):
    print(i,"\n")

In [ ]:
x=30
for i in range(1,x+2):
    if i%2==0:
        print(i)

<h1>for loop task</h1>

In [ ]:
list=[]
y=int(input("how many fruits category you want to purchase"))
for i in range(y):
    x = input("enter fruits name")
    list.append(x)
print(list)

<h1>while loop task</h1>

In [15]:
list=[]
y=int(input("enter how namy fruit category u need"))
count=0
while count<=y-1:
    z=input("enter fruits name one by one")
    list.append(z)
    count+=1
    
z=input("if you want to insert one more ple enter name otherwise enter 0")
if z=='0':
    print(f"you enter {z} so current list is bellow")
else:
    list.insert(1,z)       
print(list)

enter how namy fruit category u need 2
enter fruits name one by one banana
enter fruits name one by one melon
if you want to inser one more ple enter name otherwise enter 0 0

you enter 0 so curret list cis bellow
['banana', 'melon']

<h1>functions related tasks</h1>