<h1> 1.	Load a DataFrame from a CSV file. Display the first and last five rows of the DataFrame. </h1>

In [368]:
import pandas as pd

df = pd.read_csv("files.csv")
d_f = pd.DataFrame(df)
print(d_f)

             Date       Open       High        Low      Close  Adj Close  \
0      1972-08-25   0.021159   0.021566   0.021159   0.021484   0.011639
1      1972-08-28   0.021484   0.021647   0.021403   0.021403   0.011595
2      1972-08-29   0.021322   0.021322   0.021159   0.021159   0.011463
3      1972-08-30   0.021159   0.021159   0.020996   0.021159   0.011463
4      1972-08-31   0.020996   0.020996   0.020833   0.020833   0.011286
...           ...        ...        ...        ...        ...        ...
13213  2025-01-24  93.540001  95.010002  93.459999  94.760002  94.760002
13214  2025-01-27  95.900002  97.459999  94.820000  97.400002  97.400002
13215  2025-01-28  97.230003  97.839996  96.730003  97.290001  97.290001
13216  2025-01-29  97.430000  98.169998  97.220001  97.500000  97.500000
13217  2025-01-30  97.690002  98.930000  97.419998  98.650002  98.650002

         Volume
0       7526400
1       2918400
2       5836800
3       1228800
4       2611200
...         ...
13213  14973800
13214  18880600
13215  14641600
13216  11261400
13217  11000100

[13218 rows x 7 columns]

In [369]:
d_f.head()

         Date      Open      High       Low     Close  Adj Close   Volume
0  1972-08-25  0.021159  0.021566  0.021159  0.021484   0.011639  7526400
1  1972-08-28  0.021484  0.021647  0.021403  0.021403   0.011595  2918400
2  1972-08-29  0.021322  0.021322  0.021159  0.021159   0.011463  5836800
3  1972-08-30  0.021159  0.021159  0.020996  0.021159   0.011463  1228800
4  1972-08-31  0.020996  0.020996  0.020833  0.020833   0.011286  2611200

In [370]:
d_f.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
13213,2025-01-24,93.540001,95.010002,93.459999,94.760002,94.760002,14973800
13214,2025-01-27,95.900002,97.459999,94.820000,97.400002,97.400002,18880600
13215,2025-01-28,97.230003,97.839996,96.730003,97.290001,97.290001,14641600
13216,2025-01-29,97.430000,98.169998,97.220001,97.500000,97.500000,11261400
13217,2025-01-30,97.690002,98.930000,97.419998,98.650002,98.650002,11000100

<h1>2.	Set a specific column as the index of the DataFrame.</h1>

In [372]:
df.set_index('High', inplace=True)

print(df)
# df.reset_index(inplace=True)

                 Date       Open        Low      Close  Adj Close    Volume
High
0.021566   1972-08-25   0.021159   0.021159   0.021484   0.011639   7526400
0.021647   1972-08-28   0.021484   0.021403   0.021403   0.011595   2918400
0.021322   1972-08-29   0.021322   0.021159   0.021159   0.011463   5836800
0.021159   1972-08-30   0.021159   0.020996   0.021159   0.011463   1228800
0.020996   1972-08-31   0.020996   0.020833   0.020833   0.011286   2611200
...               ...        ...        ...        ...        ...       ...
95.010002  2025-01-24  93.540001  93.459999  94.760002  94.760002  14973800
97.459999  2025-01-27  95.900002  94.820000  97.400002  97.400002  18880600
97.839996  2025-01-28  97.230003  96.730003  97.290001  97.290001  14641600
98.169998  2025-01-29  97.430000  97.220001  97.500000  97.500000  11261400
98.930000  2025-01-30  97.690002  97.419998  98.650002  98.650002  11000100

[13218 rows x 6 columns]

<h1>3.	Select a specific column and display its values.</h1>

In [378]:
df[["Low"]]

                 Low
High
0.021566    0.021159
0.021647    0.021403
0.021322    0.021159
0.021159    0.020996
0.020996    0.020833
...              ...
95.010002  93.459999
97.459999  94.820000
97.839996  96.730003
98.169998  97.220001
98.930000  97.419998

[13218 rows x 1 columns]

<h1>4.	Select multiple columns and display the resulting DataFrame.</h1>

In [380]:
df[["Date","Open","Low"]]

                 Date       Open        Low
High
0.021566   1972-08-25   0.021159   0.021159
0.021647   1972-08-28   0.021484   0.021403
0.021322   1972-08-29   0.021322   0.021159
0.021159   1972-08-30   0.021159   0.020996
0.020996   1972-08-31   0.020996   0.020833
...               ...        ...        ...
95.010002  2025-01-24  93.540001  93.459999
97.459999  2025-01-27  95.900002  94.820000
97.839996  2025-01-28  97.230003  96.730003
98.169998  2025-01-29  97.430000  97.220001
98.930000  2025-01-30  97.690002  97.419998

[13218 rows x 3 columns]

<h1>5.	Select a subset of rows using the .loc method.</h1>

In [382]:

df.set_index('High',inplace=True)
df.loc[98.930000]

KeyError: "None of ['High'] are in the columns"

<h1>6.	Select a subset of rows and columns using the .iloc method.</h1>

In [384]:
df.iloc[-2:, :2]

                 Date       Open
High
98.169998  2025-01-29  97.430000
98.930000  2025-01-30  97.690002

<h1>7.	Filter rows based on a condition.</h1>

In [387]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13218 entries, 0.0215659998357296 to 98.93000030517578
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       13218 non-null  object
 1   Open       13218 non-null  float64
 2   Low        13218 non-null  float64
 3   Close      13218 non-null  float64
 4   Adj Close  13218 non-null  float64
 5   Volume     13218 non-null  int64
dtypes: float64(4), int64(1), object(1)
memory usage: 722.9+ KB

In [389]:
df[df['Low']<0.020996]

                Date      Open       Low     Close  Adj Close    Volume
High
0.020996  1972-08-31  0.020996  0.020833  0.020833   0.011286   2611200
0.020996  1972-09-01  0.020915  0.020915  0.020996   0.011374    768000
0.020996  1972-09-05  0.020996  0.020833  0.020833   0.011286   1689600
0.020996  1972-09-07  0.020996  0.020915  0.020915   0.011330   3532800
0.020833  1972-09-08  0.020833  0.020752  0.020752   0.011242   1996800
...              ...       ...       ...       ...        ...       ...
0.020833  1977-09-20  0.020833  0.020671  0.020833   0.011572   6067200
0.020833  1977-09-21  0.020833  0.020508  0.020671   0.011482   2073600
0.020671  1977-09-22  0.020671  0.020345  0.020345   0.011301  11059200
0.020671  1977-09-23  0.020345  0.020345  0.020508   0.011392    768000
0.021322  1977-09-26  0.020508  0.020508  0.021322   0.011844  47385600

[1210 rows x 6 columns]

<h1>8.	Group the DataFrame by a specific column and calculate the mean of each group.</h1>

In [392]:
gd = df[['Low']]
f1 = gd.describe(gd)

TypeError: '<=' not supported between instances of 'int' and 'numpy.str_'

<h1>9.	Group the DataFrame by multiple columns and calculate the sum of each group.</h1>

In [395]:
gd1 = df[['Low','Date','Open']]
f = gd1.describe()
print(f)

                Low          Open
count  13218.000000  13218.000000
mean      14.203136     14.329886
std       16.124392     16.245274
min        0.004801      0.005208
25%        0.552083      0.556315
50%       11.093750     11.343750
75%       19.850000     20.012499
max       97.419998     97.690002

<h1>10.	Use the agg method to apply multiple aggregation functions to grouped data.</h1>

In [398]:
# Use describe-style aggregation with agg
result = df.agg({
    'Low': ['mean', 'min', 'max'],
    'Open': ['mean', 'min', 'max']
})

print(result)



# First make sure Date is in datetime format (if needed)
df['Date'] = pd.to_datetime(df['Date'])

# Group by year or month, then aggregate
result = df.groupby(df['Date'].dt.year).agg({
    'Low': ['mean', 'min', 'max'],
    'Open': ['mean', 'min', 'max']
})

print(result)

            Low       Open
mean  14.203136  14.329886
min    0.004801   0.005208
max   97.419998  97.690002
            Low                             Open
           mean        min        max       mean        min        max
Date
1972   0.020958   0.018229   0.022461   0.021093   0.018473   0.022624
1973   0.014450   0.008138   0.022542   0.014625   0.008382   0.022542
1974   0.009940   0.004801   0.013021   0.010024   0.005208   0.013184
1975   0.014268   0.006185   0.020182   0.014407   0.006185   0.020508
1976   0.018705   0.014974   0.021484   0.018912   0.015462   0.021810
1977   0.019678   0.015137   0.026367   0.019849   0.015625   0.026693
1978   0.029296   0.022135   0.037435   0.029611   0.022461   0.037923
1979   0.035844   0.029297   0.046875   0.036075   0.029460   0.047689
1980   0.053800   0.036133   0.077148   0.054177   0.037109   0.078125
1981   0.095285   0.070313   0.112956   0.096192   0.073568   0.114258
1982   0.153894   0.100260   0.277344   0.155904   0.100586   0.278646
1983   0.363292   0.227865   0.464844   0.368176   0.230469   0.472005
1984   0.397496   0.315104   0.468750   0.402205   0.320313   0.480469
1985   0.520063   0.394531   0.687500   0.525039   0.395833   0.692708
1986   0.871037   0.606771   1.106771   0.883626   0.619792   1.117188
1987   1.249032   0.833333   1.750000   1.271801   0.838542   1.776042
1988   1.222332   1.010417   1.369792   1.238245   1.046875   1.390625
1989   1.579716   1.250000   1.843750   1.594969   1.265625   1.864583
1990   2.216588   1.682292   2.958333   2.247900   1.682292   3.041667
1991   3.579072   2.375000   4.812500   3.620059   2.395833   4.937500
1992   4.676345   4.177083   5.437500   4.720431   4.239583   5.458333
1993   4.595109   3.833333   5.604167   4.657979   3.916667   5.666667
1994   4.076141   3.500000   4.770833   4.132110   3.541667   4.854167
1995   4.017816   3.416667   4.541667   4.063905   3.479167   4.583333
1996   4.019254   3.182292   4.604167   4.071235   3.208333   4.666667
1997   5.346838   3.666667   6.760417   5.417367   3.750000   6.947917
1998   9.568700   6.260417  13.427083   9.731605   6.260417  13.666667
1999  15.904142  12.895833  22.854168  16.192502  13.000000  23.187500
2000  17.516452  13.812500  21.875000  17.908730  14.000000  22.791668
2001  17.067517  14.000000  19.379999  17.327090  14.666667  19.450001
2002  18.201177  14.573333  21.013332  18.469696  14.766667  21.306667
2003  17.933981  15.416667  19.913334  18.103823  15.600000  20.016666
2004  18.158743  17.026667  20.066668  18.298426  17.066668  20.270000
2005  16.144907  14.103333  17.916668  16.266349  14.150000  18.096666
2006  15.423705  14.103333  17.016666  15.541872  14.253333  17.193333
2007  15.514701  14.030000  16.786667  15.645910  14.130000  16.969999
2008  18.068985  14.370000  20.526667  18.332095  15.266667  21.073334
2009  16.694537  15.416667  18.593332  16.859074  15.523333  18.986668
2010  17.554577  15.923333  18.553333  17.666376  16.033333  18.683332
2011  17.989272  16.103333  19.896667  18.103638  16.283333  19.983334
2012  22.262173  19.059999  25.563334  22.386227  19.196667  25.866667
2013  24.947685  22.573334  26.940001  25.088016  22.730000  27.070000
2014  25.621468  24.090000  28.826668  25.758175  24.090000  29.026667
2015  24.011601  18.766666  29.750000  24.189802  18.796667  30.266666
2016  23.007831  20.066668  24.543333  23.160450  20.166668  24.833332
2017  26.153745  21.760000  33.040001  26.296799  21.876667  33.303333
2018  30.526799  27.260000  35.996666  30.793997  27.320000  36.380001
2019  35.889735  30.546667  40.233334  36.132275  30.546667  41.533333
2020  42.715323  34.000000  50.553333  43.172820  35.066666  51.200001
2021  46.909987  42.093334  50.136665  47.218876  42.276669  50.666668
2022  45.634954  39.090000  53.023335  46.046614  39.433334  53.416668
2023  50.673960  45.363335  55.836666  51.017427  45.560001  56.126667
2024  69.735953  51.866669  95.330002  70.243968  52.233334  95.680000
2025  92.328947  89.519997  97.419998  92.941053  89.980003  97.690002

<h1>11.	Calculate the size of each group.</h1>

In [401]:
df.groupby('High').size()

High
0.005208     1
0.005534     1
0.005697     4
0.005859     1
0.005941     1
            ..
96.180000    1
97.459999    1
97.839996    1
98.169998    1
98.930000    1
Length: 5937, dtype: int64

In [403]:
df.groupby('Low').size()

Low
0.004801     1
0.004964     1
0.005208     1
0.005371     2
0.005452     2
            ..
94.820000    1
95.330002    1
96.730003    1
97.220001    1
97.419998    1
Length: 5878, dtype: int64

In [405]:
df.groupby('Date').size()

Date
1972-08-25    1
1972-08-28    1
1972-08-29    1
1972-08-30    1
1972-08-31    1
             ..
2025-01-24    1
2025-01-27    1
2025-01-28    1
2025-01-29    1
2025-01-30    1
Length: 13218, dtype: int64

<h1>12.	Select rows based on multiple conditions</h1>

In [420]:
f_df = df[(df['Date'] > 2025-01-27) & (df['Low'] > 1)]
print(f_df)

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (1931213844.py, line 1)

<h1>13.	Use the query method to filter rows.</h1>

In [429]:
df.query("Low < 0.9")

               Date      Open       Low     Close  Adj Close    Volume
High
0.021566 1972-08-25  0.021159  0.021159  0.021484   0.011639   7526400
0.021647 1972-08-28  0.021484  0.021403  0.021403   0.011595   2918400
0.021322 1972-08-29  0.021322  0.021159  0.021159   0.011463   5836800
0.021159 1972-08-30  0.021159  0.020996  0.021159   0.011463   1228800
0.020996 1972-08-31  0.020996  0.020833  0.020833   0.011286   2611200
...             ...       ...       ...       ...        ...       ...
0.908854 1986-10-20  0.906250  0.893229  0.906250   0.542685  10156800
0.911458 1986-10-21  0.906250  0.890625  0.906250   0.542685  11625600
0.984375 1987-12-03  0.968750  0.864583  0.875000   0.525857  77997600
0.901042 1987-12-04  0.838542  0.833333  0.901042   0.541507  51422400
1.057292 1987-12-15  1.036458  0.885417  1.020833   0.614351  28080000

[3493 rows x 6 columns]

<h1>14.	Use isin to filter rows based on a list of values.</h1>

In [450]:
gg =df[df['Volume'].isin([5836800, 77997600])]
print(gg)

               Date      Open       Low     Close  Adj Close    Volume
High
0.021322 1972-08-29  0.021322  0.021159  0.021159   0.011463   5836800
0.021973 1973-01-12  0.021729  0.021647  0.021647   0.011727   5836800
0.009766 1973-07-12  0.009766  0.009603  0.009766   0.005291   5836800
0.015869 1973-07-27  0.015869  0.014404  0.014567   0.007891   5836800
0.011230 1974-05-24  0.010498  0.010498  0.011230   0.006102   5836800
0.020671 1976-04-15  0.020671  0.020182  0.020182   0.011076   5836800
0.020671 1977-08-22  0.020671  0.020182  0.020182   0.011179   5836800
0.022135 1977-10-20  0.021973  0.021810  0.022135   0.012296   5836800
0.025553 1978-03-01  0.025228  0.025228  0.025553   0.014228   5836800
0.030924 1978-05-09  0.030599  0.030436  0.030762   0.017182   5836800
0.064616 1980-09-10  0.063802  0.063314  0.064616   0.037015   5836800
0.113932 1982-02-03  0.112956  0.111979  0.112305   0.065662   5836800
0.984375 1987-12-03  0.968750  0.864583  0.875000   0.525857  77997600

<h1>15.	Select specific columns and rename them.</h1>

In [457]:
pps =df.rename(columns=['Close' : 'close'])

SyntaxError: invalid syntax (2162042522.py, line 1)