In [14]:
!pip install pandas
import pandas as pd
import numpy as np

Requirement already satisfied: pandas in c:\users\ahsan\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\ahsan\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ahsan\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ahsan\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ahsan\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\ahsan\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

<h1> 1.	Create a Pandas Series from a Python list, numpy array, and a dictionary. </h1>

In [24]:
plist =[1,5,7,8,0,2,10]

list_series = pd.Series(plist)
print(list_series)

0     1
1     5
2     7
3     8
4     0
5     2
6    10
dtype: int64

In [208]:
num_array = np.random.randint(1,10,size=(9))
print(num_array)
na = pd.Series(num_array)
print(na)

[6 6 8 5 4 1 7 8 7]
0    6
1    6
2    8
3    5
4    4
5    1
6    7
7    8
8    7
dtype: int32

In [197]:
num_array.ndim

1

In [255]:
dic = {"name":"ahsan" , "class":16,"roll_no":1}
print(dic)
dic_ser = pd.Series(dic)
print(dic_ser)

{'name': 'ahsan', 'class': 16, 'roll_no': 1}
name       ahsan
class         16
roll_no        1
dtype: object

In [232]:
plist =[1,5,7,8,0,2,10]

# list_series = pd.Series(plist)
# # print(list_series)

cus_ind1 =['101','102','103','104','105','106','107']

cis = pd.Series(plist, index=cus_ind1)
print(cis)

101     1
102     5
103     7
104     8
105     0
106     2
107    10
dtype: int64

In [253]:
# this first line mean fromrange 1 to 10 select any 4 digits randomly

num_array = np.random.randint(1,10,size=(4))
# print(num_array)
# na = pd.Series(num_array)
# print(na)
# cus_ind2 = ['a','b','c','d']
cus_ind2 = np.arange(1,5)

c_is = pd.Series(num_array, index=cus_ind2)
print(c_is)

1    6
2    4
3    4
4    7
dtype: int32

In [338]:
dic = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
# print(dic)
# dic_ser = pd.Series(dic)
# print(dic_ser)
# cus_ind3 = ['one','two','three','four','five']
cus_ind3 = ['a', 'b', 'c', 'd', 'e']

c_i_s = pd.Series(dic , index = cus_ind3)
print(c_i_s)

a    1
b    2
c    3
d    4
e    5
dtype: int64
1

<h1>ARithematic operation on series</h1>

In [308]:
a1 = [5,3,5,7,8,10]
ind = [1,2,3,4,5,6]
ser1 = pd.Series(a1,index=ind)

a2 = [9,3,5,7,8,5]
ind = [1,2,3,4,5,6]
ser2 = pd.Series(a2,index=ind)

print("Add:\n\n",ser1+ser2,"\n")
print("Sub:\n\n",ser1-ser2,"\n")
print("multiply:\n\n",ser1*ser2,"\n")
print("divide:\n\n",ser1/ser2,"\n")

Add:

 1    14
2     6
3    10
4    14
5    16
6    15
dtype: int64

Sub:

 1   -4
2    0
3    0
4    0
5    0
6    5
dtype: int64

multiply:

 1    45
2     9
3    25
4    49
5    64
6    50
dtype: int64

divide:

 1    0.555556
2    1.000000
3    1.000000
4    1.000000
5    1.000000
6    2.000000
dtype: float64

<h1>4.	Access elements using index labels and positions.</h1>

In [342]:
dic = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
cus_ind3 = ['a', 'b', 'c', 'd', 'e']

c_i_s = pd.Series(dic , index = cus_ind3)
print(c_i_s)

pm = c_i_s['a']
print(pm)

a    1
b    2
c    3
d    4
e    5
dtype: int64
1

In [346]:
a2 = [9,3,5,7,8,5]
ind = [1,2,3,4,5,6]
ser2 = pd.Series(a2,index=ind)
p2 = ser2[1]
print(p2)

9

<h1>5.	Filter the Series to include only values greater than a specific threshold.</h1>

In [355]:
plist =[1,5,7,8,0,2,10]

cus_ind1 =['101','102','103','104','105','106','107']

cis = pd.Series(plist, index=cus_ind1)
# print(cis)

threshold =5

print(cis>threshold)

101    False
102    False
103     True
104     True
105    False
106    False
107     True
dtype: bool

<h1>6.	Create a DataFrame from a dictionary of lists.</h1>

In [364]:
dic ={"name":['ahsan', 'samina','nabi','pushpa'],
      "gender":['male','female','male','male'],
      "rollno":[1,2,3,4]    
}
# print(dic)
DF = pd.DataFrame(dic)
print(DF)

     name  gender  rollno
0   ahsan    male       1
1  samina  female       2
2    nabi    male       3
3  pushpa    male       4

<h1>7.	Create a DataFrame from a numpy array, specifying column and index names.</h1>

In [422]:
ar5 = np.array([[3,4,6,8,0,1],
          [4,3,2,5,1,7],
           [9,8,7,6,5,4]])
column=['column1','column2','column3','column4','column5','column6']
index =['row1','row2','row3']
prt = pd.DataFrame(ar5, columns=column, index=index)
print(prt)

      column1  column2  column3  column4  column5  column6
row1        3        4        6        8        0        1
row2        4        3        2        5        1        7
row3        9        8        7        6        5        4

In [424]:
ar5.ndim

2

In [426]:
ar5.shape

(3, 6)

<h1>8.	Load a DataFrame from a CSV file.</h1>

In [471]:
csv = pd.read_csv("product.csv")
# csv.info()

df1 = pd.DataFrame(csv)
print(df1)

    pid             name                                        description  \
0   p01     Refrigerator  Large capacity, frost-free refrigerator with a...
1   p03   Microwave Oven  Compact microwave oven with multiple cooking p...
2   p04  Washing Machine  Top_loading washing machine with various wash ...
3   p05       Dishwasher  Energy efficient dishwasher with multiple wash...
4   p06     Coffee Maker    Programmable coffee maker with built in grinder
5   p07          Toaster  Four-slice toasterwith adjustable browning set...
6   p08         Blender          High-speed blender for smoothies and soups
7   p09   Vacuum Cleaner   Bagless,cordless vacuum cleaner with HEPA filter
8   p10     Air Purifier  HEPA air purifier with smart sensors for indoo...
9   p11  Electric Kettle  Stainless steel electric kettle with rapid boi...
10  NaN              NaN                                                NaN

     price                image  rating
0   799.99     refrigerator.jpg     4.5
1   129.99   microwave_oven.jpg     4.0
2   499.99  washing_machine.jpg     4.2
3   699.99       dishwasher.jpg     4.8
4    89.99     coffee_maker.jpg     4.3
5    39.99          toaster.jpg     4.0
6    69.99          blender.jpg     4.5
7   149.99   vacuum_cleaner.jpg     4.7
8   199.99     air_purifier.jpg     4.6
9    29.99  electric_kettle.jpg     4.1
10     NaN                  NaN     NaN

In [465]:
df1[["price","rating"]]

     price  rating
0   799.99     4.5
1   129.99     4.0
2   499.99     4.2
3   699.99     4.8
4    89.99     4.3
5    39.99     4.0
6    69.99     4.5
7   149.99     4.7
8   199.99     4.6
9    29.99     4.1
10     NaN     NaN

<h1>9.	Display the first and last five rows of the DataFrame.</h1>

In [474]:
df1.head()

,pid,name,description,price,image,rating
0,p01,Refrigerator,"Large capacity, frost-free refrigerator with a...",799.99,refrigerator.jpg,4.5
1,p03,Microwave Oven,Compact microwave oven with multiple cooking p...,129.99,microwave_oven.jpg,4.0
2,p04,Washing Machine,Top_loading washing machine with various wash ...,499.99,washing_machine.jpg,4.2
3,p05,Dishwasher,Energy efficient dishwasher with multiple wash...,699.99,dishwasher.jpg,4.8
4,p06,Coffee Maker,Programmable coffee maker with built in grinder,89.99,coffee_maker.jpg,4.3

In [476]:
df1.tail()

,pid,name,description,price,image,rating
6,p08,Blender,High-speed blender for smoothies and soups,69.99,blender.jpg,4.5
7,p09,Vacuum Cleaner,"Bagless,cordless vacuum cleaner with HEPA filter",149.99,vacuum_cleaner.jpg,4.7
8,p10,Air Purifier,HEPA air purifier with smart sensors for indoo...,199.99,air_purifier.jpg,4.6
9,p11,Electric Kettle,Stainless steel electric kettle with rapid boi...,29.99,electric_kettle.jpg,4.1
10,NaN,NaN,NaN,NaN,NaN,NaN

<h1>10.	Get a summary of the DataFrame including the mean, median, and standard deviation of numeric columns.</h1>

In [483]:
csv = pd.read_csv("product.csv")
# csv.info()

df1 = pd.DataFrame(csv)
summary = df1.describe()
print(summary)

            price     rating
count   10.000000  10.000000
mean   270.990000   4.370000
std    286.839095   0.290784
min     29.990000   4.000000
25%     74.990000   4.125000
50%    139.990000   4.400000
75%    424.990000   4.575000
max    799.990000   4.800000

<h1>11.	Extract a specific column as a Series.</h1>

In [513]:
df1[["price","pid"]]

     price  pid
0   799.99  p01
1   129.99  p03
2   499.99  p04
3   699.99  p05
4    89.99  p06
5    39.99  p07
6    69.99  p08
7   149.99  p09
8   199.99  p10
9    29.99  p11
10     NaN  NaN

<h1>12.	Filter rows based on column values</h1>

In [538]:
df1[df1["price"]>200]
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   pid          10 non-null     object
 1   name         10 non-null     object
 2   description  10 non-null     object
 3   price        10 non-null     float64
 4   image        10 non-null     object
 5   rating       10 non-null     float64
dtypes: float64(2), object(4)
memory usage: 660.0+ bytes

<h1>13.	Select rows based on multiple conditions.</h1>

In [575]:
csv = pd.read_csv("product.csv")
# csv.info()

df1 = pd.DataFrame(csv)
# print(df1.dtypes)
mul_con = df1[(df1["price"]>200) & (df1["rating"]<4)]
print(mul_con)

Empty DataFrame
Columns: [pid, name, description, price, image, rating]
Index: []

<h1>14.	Add a new column to the DataFrame.</h1>

In [645]:
csv = pd.read_csv("product.csv")

df1 = pd.DataFrame(csv)

df1["status"] = ['pass','fail','pass','fail','pass','pass','pass','pass','fail','fail','pass']

print(df1)

    pid             name                                        description  \
0   p01     Refrigerator  Large capacity, frost-free refrigerator with a...
1   p03   Microwave Oven  Compact microwave oven with multiple cooking p...
2   p04  Washing Machine  Top_loading washing machine with various wash ...
3   p05       Dishwasher  Energy efficient dishwasher with multiple wash...
4   p06     Coffee Maker    Programmable coffee maker with built in grinder
5   p07          Toaster  Four-slice toasterwith adjustable browning set...
6   p08         Blender          High-speed blender for smoothies and soups
7   p09   Vacuum Cleaner   Bagless,cordless vacuum cleaner with HEPA filter
8   p10     Air Purifier  HEPA air purifier with smart sensors for indoo...
9   p11  Electric Kettle  Stainless steel electric kettle with rapid boi...
10  NaN              NaN                                                NaN

     price                image  rating status
0   799.99     refrigerator.jpg     4.5   pass
1   129.99   microwave_oven.jpg     4.0   fail
2   499.99  washing_machine.jpg     4.2   pass
3   699.99       dishwasher.jpg     4.8   fail
4    89.99     coffee_maker.jpg     4.3   pass
5    39.99          toaster.jpg     4.0   pass
6    69.99          blender.jpg     4.5   pass
7   149.99   vacuum_cleaner.jpg     4.7   pass
8   199.99     air_purifier.jpg     4.6   fail
9    29.99  electric_kettle.jpg     4.1   fail
10     NaN                  NaN     NaN   pass

<h1>15.	Delete a column from the DataFrame.</h1>

In [648]:
df1 = df1.drop(columns=['status'], errors='ignore')
print(df1)

    pid             name                                        description  \
0   p01     Refrigerator  Large capacity, frost-free refrigerator with a...
1   p03   Microwave Oven  Compact microwave oven with multiple cooking p...
2   p04  Washing Machine  Top_loading washing machine with various wash ...
3   p05       Dishwasher  Energy efficient dishwasher with multiple wash...
4   p06     Coffee Maker    Programmable coffee maker with built in grinder
5   p07          Toaster  Four-slice toasterwith adjustable browning set...
6   p08         Blender          High-speed blender for smoothies and soups
7   p09   Vacuum Cleaner   Bagless,cordless vacuum cleaner with HEPA filter
8   p10     Air Purifier  HEPA air purifier with smart sensors for indoo...
9   p11  Electric Kettle  Stainless steel electric kettle with rapid boi...
10  NaN              NaN                                                NaN

     price                image  rating
0   799.99     refrigerator.jpg     4.5
1   129.99   microwave_oven.jpg     4.0
2   499.99  washing_machine.jpg     4.2
3   699.99       dishwasher.jpg     4.8
4    89.99     coffee_maker.jpg     4.3
5    39.99          toaster.jpg     4.0
6    69.99          blender.jpg     4.5
7   149.99   vacuum_cleaner.jpg     4.7
8   199.99     air_purifier.jpg     4.6
9    29.99  electric_kettle.jpg     4.1
10     NaN                  NaN     NaN

In [663]:
df2 = df1.rename(columns={'status':'status1'})
print(df2)

AttributeError: 'NoneType' object has no attribute 'rename'

In [665]:
print(df1)

None